/* Start Global Ruls */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Cairo', sans-serif;

}

:root {
    --main-color: #2196F3;
    --second-color: #1787e0;
    --main-transtion-duration: 0.3s;
    --main-paading-top: 100px;
    --main-paading-bottom: 100px;
    --background-section: #ececec;
    --background-header:#8000FF;
    --bacground-services:#1C75BC;

}


html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}




.main-title {
    margin: 0 auto 60px;
    border: 5px solid black;
    padding: 10px 20px;
    font: 25px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transtion-duration);

}

.main-title::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-color: var(--main-color);
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;

}

.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-color: var(--main-color);
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;

}

.main-title:hover::before {
    z-index: -1;
    animation: left-animation 0.4s linear forwards;

}

.main-title:hover::after {
    z-index: -1;
    animation: right-animation 0.4s linear forwards;

}

.main-title:hover {
    color: white;
    border: 5px solid transparent;
    transition-delay: 0.5s;
}

.spikes{
position: relative;
}

.spikes::after{
    content:"";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
 
    z-index: 1;
    background-image: linear-gradient(135deg,white 25%,transparent 25%),linear-gradient(225deg,white 25%,transparent 25%);
    background-size: 30px 30px;
}

.dots{
    background-image: url(../image/dots.png);
    height: 186px;
    width: 204px;
    background-repeat: no-repeat;
    position: absolute;
}
.dots-up{
    top:200px;
    right: 0;
}
.dots-down{
    bottom:100px;
    left: 0;
}


/* Start Media Quires For Screen Size */
/* Small */

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Ruls */

/* Start Header 001 */
.header {


    background-color: var(--background-header);
   
    position: relative;
  
   
    /* box-shadow: 0 0 10px #ddd; */
   


}

.header .container {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    background-color: var(--background-header);
    z-index: 100;
    width: 100%;


}

.header .logo {
    color: var(--main-color);
    height: 120px;
    font-weight: bold;
    /* font-size: 26px; */
    display: flex;
    justify-items: center;
    align-items: center;

}

@media (max-width:767px) {
    .header .logo {
        width: 100%;
        justify-content: center;
        height: 40px;
       
    }
    .header .container{
        flex-direction: column;
    }
}

.header .main-nav {
    display: flex;
    font-size: 25px;
    font-weight: bold;
   
}

.header .main-nav>li:hover .mega-menu {

    z-index: 100;
    opacity: 1;
    top: 100%
}

@media (max-width:767px) {
    .header .logo {
        margin-bottom: 25px;
    }
}


.header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: white;
    padding: 0 15px;
    transition: var(--main-transtion-duration);
    overflow: hidden;


}

@media (max-width:767px) {
    .header .main-nav>li>a {
        padding: 10px;
        font-size: 15px;
        height: 40px;
        margin-left: auto;

    }
}

.header .main-nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transtion-duration);

}


.header .main-nav>li>a:hover {
    color: var(--main-color);
    overflow: hidden;
}


.header .main-nav>li>a:hover::before {
    left: 0;
}
/* End Header 001 */
/* ********************************************************** */
/* Start Full-slider 002*/
.main-header-slider{

background-image: url(../image02/main_slider_full_page.png);

background-color: var(--background-header);
background-size: cover;
min-height: 100vh;
position: relative;


}
/* End Full Slider 002 */
/* ************************************************* */
/* Start Services 003 */

.services {
    background-color:var(--bacground-services);
    position: relative;
}
.services .main-text h2{
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 20px;
   padding-right: 20px;
   font-size: 35px;
   color: white;
}
.services .main-text p{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    color: white;

 }
@media(max-width:767px){
    .services .main-text h2{
    font-size: 20px;
     }
     .services .main-text p{
     display: none;
     }
}
.services .container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    position: relative;
    
}

.services .box .img-holder {
    position: relative;
    overflow: hidden;
}

.services .box.sms .hover-sms{
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 55px;
    height: 50%;
    width: 65%;
    opacity: 0;
    transition: 1s ease;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    color: var(--background-header);
    border: 2px solid var(--background-header);

}



.services .box.sms .hover-sms::before{
    content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 25px;
  border-color: white transparent transparent;
 
}
.services .box.whatsapp .hover-whatsapp::before{
    content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 25px;
  border-color: white transparent transparent;
 
}
.services .box.notifications .hover-notifications::before{
    content: "";
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 25px;
  border-color: white transparent transparent;
 
}
@media(max-width:767px){
    .services .box.sms .hover-sms{
        display: none;
    }
}
.services .box.sms:hover .hover-sms{
    opacity: 1;
}

.services .box.whatsapp .hover-whatsapp{
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 55px;
    height: 50%;
    width: 65%;
    opacity: 0;
    transition: 1s ease;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    color: var(--background-header);
    border: 2px solid var(--background-header);
}
@media(max-width:767px){
    .services .box.whatsapp .hover-whatsapp{
        display: none;
    }
}
.services .box.whatsapp:hover .hover-whatsapp{
    opacity: 1;
}
.services .box.notifications .hover-notifications{
    position: absolute;
    top: 33px;
    bottom: 0;
    left: 55px;
    height: 50%;
    width: 65%;
    opacity: 0;
    transition: 1s ease;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    color: var(--background-header);
    border: 2px solid var(--background-header);

}
@media(max-width:767px){
    .services .box.notifications .hover-notifications{
        display: none;
    }
}
.services .box.notifications:hover .hover-notifications{
    opacity: 1;
}
.services .box .img-holder img {
    max-width: 100%;
}
.services .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.services .box h2::after {
    content: "";
    position: absolute;
    height: 5px;
    width: 80%;
    bottom: -10px;
    left: 10px;
}
.services .box p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
.services .box a {
    border: 1px solid black;
    margin: 15px auto;
    display: block;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 10px;
    transition: var(--main-transtion-duration);
}
.services .quality h2::af   ter {
 background-color: #f44036;
}
.services .time h2::after {
background-color: rgb(3 169 244);
}
/* End Services 003 */
/* ********************************************************** */
/* Start experience 004*/
.experience{
    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);
   background-color: var(--background-header);
    position: relative;
}

.experience .main-text{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    color: white;

}

.experience .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    position: relative;
}

.experience .container .box{
    overflow: hidden;
    position: relative;
}


.experience .container .box img{
    max-width: 100%;
    width: 100%;
    height: 250px;
  
}
.experience .container .box .overlay{
 position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: var(--background-header);
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 25%;
}
  

.experience .container .box:hover .overlay{
    opacity: 1;
}


/* End Experience */
/* ********************************************************** */

/*  Start Major Partners here  */

.major-partner{
    background-image: url(../image02/jawwali-SERVING.png);
    background-size: cover;
    min-height: 110vh;
    position: relative;
 
    
    
}
.major-partner .text-main{
    padding: 15px 0 30px 50px;
       font-size: 35px;
       font-weight: bold;
       color: white;
   }

.major-partner .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35px;
}

.major-partner .wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;


}

.major-partner .wrapper .arrow{
    width:20px;
    height: 20px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    background-color: black;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.major-partner .wrapper .left{
    width:20px;
    height: 20px;
   left: -25px;
} 
.major-partner .wrapper .right{
    width:20px;
    height: 20px;
 right: -25px;
}



.major-partner .carousel {
    display: grid;
    grid-template-columns: repeat(minmax(100px ,1fr));
    grid-auto-flow: column;
    gap: 30px;
    overflow: hidden;
    scroll-behavior: smooth;
    
}
.major-partner .carousel.no-transition{
    scroll-behavior: smooth;
}
.major-partner .carousel.dragging {
    scroll-behavior: auto;
}
.major-partner .carousel.dragging .card{
    cursor: grab;
    user-select: none;

}

@media(max-width:900px){
    .major-partner .carousel {
     
        grid-template-columns: repeat(minmax(200px ,1fr));
    
        gap: 30px;
    }
}
@media(max-width:600px){
    .major-partner .carousel {
     
        grid-template-columns: repeat(minmax(300px ,1fr));
    
        gap: 15px;
    }
}
@media(max-width:400px){
    .major-partner .carousel {
     
        grid-template-columns:repeat(minmax(500px ,1fr));
        gap: 25px;
    }
}
.major-partner .carousel .img img{
width: 120px;
height: 120px;
object-fit: cover;

}

.major-partner .carousel .card{
    list-style: none;
    cursor: pointer;
}


.major-partner .container .text-description{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    margin-top: 100px;
    color: white;
    width: 400px;
    

}

.major-partner .text-description .head-description{
    font-size: 35px;
    font-weight: bold;
   
    padding-top: 80px;
    margin-bottom: 50px;
}
.major-partner .text-description .par-description{
    font-size: 25px;
    margin-bottom: 30px;

  
}
.major-partner .text-description .list-description li{
padding-bottom: 10px;
}

/* End  Start Major Partners  */
/* ********************************************************** */
/* Start Articels */

.articles {
    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);
    position: relative;

}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;

}

.articles .container .box {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 6px;
    overflow: hidden;

}

.articles .container .box img {
    max-width: 100%;
    width: 100%;
    height: 250px;
    transition: trnsfortm var(--main-transtion-duration), box-shadow var(--main-color);

}

.articles .box:hover {
    transform: translateY(-15px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);

}

.articles .container .content {
    padding: 20px;
}

.articles .container .content h3 {
    margin: 0;

}

.articles .container .content p {
    margin: 10px 0 0;
    color: #777;
}

.articles .container .info {
    border-top: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.articles .container .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .container .info i {
    color: var(--main-color);
    position: relative;
}

.articles .box:hover .info i {
    animation: moving-arrow 0.5s linear infinite;
}


/* End Articels */
/* ********************************************************** */

/* Start Gallery */
.gallery {
    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);
    background-color: var(--background-section);
    position: relative;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    position: relative;

}

.gallery .container .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 18%);


}

.gallery .box .image {

    position: relative;
    overflow: hidden;

}

.gallery .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 /20%);
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: 2;


}

.gallery .box .image:hover::before {
    animation: flashing 0.7s;

}

.gallery .box img {
    max-width: 100%;
    transition: var(--main-transtion-duration);


}

.gallery .box .image img:hover {
    transform: rotate(10deg) scale(1.5);

}


/* End Gallery */

/* ********************************************************** */


/* Start Testimonials */

.testimonials {
    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);
    background-color: var(--background-section);
    position: relative;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    position: relative;
}



.testimonials .container .box {
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0, 0, 0)/7%;
    border-radius: 6px;
    position: relative;
    background-color: white;

   
}

.testimonials .box img{
    position: absolute;
    width:100px;
    height: 100px;
    top: -50px;
    right: -10px;
    border-radius: 50%;
    border: 5px solid var(--background-section);
} 

.testimonials .box h3{
    margin:0px 0px 10px;
    color: var(--main-color);

}
.testimonials .box .title{
    color: #777;
    margin-bottom: 10px;
    display: block;
}
.testimonials .box .rate .filled{
    margin-bottom: 20px;
    margin-top: 10px;
    
   
}
.testimonials .box p{
    margin-top: 10px;

}


/* End Testimonials */

/* ********************************************************** */
/* Start Team */
.team{
    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);
   
    position: relative;
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:50px;
    position: relative;
}
.team .box{
    position: relative;

}

.team .box .data img{
   width: calc(100% - 60px);
   transition: var(--main-transtion-duration);
   border-radius: 10px;
}

.team .box .data{
    display: flex;
 
    align-items: center;
    padding-top: 60px;


}

.team .box .data .social{
    display: flex;
    flex-direction: column;
    width: 60px;
    align-items: center;
}

.team .box .data .social a{
 width: 60px;
 height: 30px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
 
    
}

.team .box .data .social i{

    color: var(--second-color);
    transition: var(--main-transtion-duration);
   
    
}

.team .box .data .social i:hover{
    color: black;
}

.team .box .data img:hover{
    filter: grayscale(100%);
}

.team .box::before ,
 .team .box::after {
    content: "";
    position: absolute;
    background-color: #bcbcbc;
    right: 0;
    top: -20px;
    height: 110%;
   
    border-radius: 10px;
   
}

.team .box::before{
    width: calc(100% - 60px);
    z-index: -2;
}

.team .box::after{
    z-index: -1;
    width: 0;
    background-color: #706e6e;
    transition: var(--main-transtion-duration);
}

.team .box:hover::after{
    width: 100%;
    
}


.team .box .info{
    padding-left: 60px;
display: flex;
text-align: center;
flex-direction: column;
}
.team .box .info h3{
    color: var(--main-color);
    margin-top: 5px;
}
.team .box .info p{
    font-size: 15px;
    margin-bottom: 0;
    color: black;

}








/* End Team */
/* ********************************************************** */

/* ********************************************************** */

/* Srtart our skills*/
.our-skills{

    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);
   background-color: white;
    position: relative;
}
.our-skills .container{
    display: flex;
    align-items: center;

}
.our-skills img{
    height: 450px;
    width: 450px;

}

@media (max-width:990px){
    .our-skills img{
        display: none;
    }
}

.our-skills .skills{
    flex: 1;
}

.our-skills .skill h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

}
.our-skills .skill h3 span{
    font-size: 16px;
    border: 1px solid black;
    padding: 3px 5px;
    border-radius: 5px;
    color: var(--main-color);
    
}

.our-skills .skill .theprogress{
    height: 30px;
    background-color: #eee;
    position: relative;


}

.our-skills .skill .theprogress span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
   background-color: var(--main-color);
   transition: width 0.4s linear;
}





/* End our skills   */
/* ********************************************************** */


/* Start Work Steps */

.work-steps{
    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);
   background-color: #cccccc;
    position: relative;
}

.work-steps .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:990px){
    .work-steps .container{
        flex-direction: column;
    } 

}
.work-steps .img{
    max-width: 100%;
    margin-right: 100px;


}
@media (max-width:990px){
    .work-steps .img{
        margin: 0 0 40px;
    } 

}
.work-steps .info  .box{
    background-color: #F6F5F5F5;
    padding: 30px;
    margin-bottom: 20px;
 
    display: flex;
    align-items: center;
    border: 2px solid white;
    position: relative;
    z-index: 1;
   

}

.work-steps .info  .box::before{
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transtion-duration);
}

.work-steps .info .box:hover::before{
    width: 100%;
    height: 100%;
}
.work-steps .info .box img{
    width: 64px;
    margin-right: 20px;
}
.work-steps .info .box h3{
    margin: 0;
    font-size: 22px;


}
.work-steps .info .box p{
    margin:10px 0 0 0 ;
    color: #777;
    font-size: 15px;

}

/* End Work Steps */

/* ********************************************************** */
/* Start Events */
.events{
    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);

    position: relative;
}

.events .container{

    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.events .container img{
    max-width: 400px;


}
@media (max-width: 990px){
    .events img{
     display: none;
    
    
    }
}

.events .info{
    flex: 1;

}

.events .info .time{
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;

}
@media  (max-width: 767px){
    .events .info .time{
      
        gap: 5px;
      
    
    }
}
.events .info .time .unit{
    
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transtion-duration);

}

.events .info .time .unit span{
    display: block;
}

.events .info .time .unit span:first-child{
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);

    
}

.events .info .time .unit span:last-child{
    font-size: 12px;
    padding: 8px 10px;
    border-top: 1px solid #d4d4d4;
    
}
.events .info .time .unit:hover,.events .info .time .unit span:last-child:hover
{
    border-color: var(--main-color);

}

.events .title{
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
color: var(--main-color);

}
.events .description{
    text-align: center;
    margin-top: 10px;
    line-height: 1.6;
}
.events .subscribe{
    width: 100%;
    margin-top: 50px;

}

.events .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #d5d5d5;
    border-radius: 50px;
    display: flex;
    gap: 20px;

}

@media  (max-width: 767px){
    .events .subscribe form {
        max-width: 100%;
            padding: 20px;
            flex-direction: column;
            border-radius: 0;


    }
}
.events .subscribe form input[type='email']{
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: black;



}

@media  (max-width: 767px){
    .events .subscribe form input[type='email'] {
      
            border-radius: 0;


    }
}

.events .subscribe form input[type='email']:focus{
    outline: none;

}

.events .subscribe form input[type='email']::placeholder{
    transition: opacity var(--main-transtion-duration);
}
.events .subscribe form input[type='email']:focus::placeholder{
  opacity: 0;

}
.events .subscribe form input[type='submit']{
    border-radius: 50px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    transition: var(--main-transtion-duration);

}

@media  (max-width: 767px){
    .events .subscribe form input[type='submit'] {
      
            border-radius: 0;


    }
}

.events .subscribe form input[type='submit']:hover{
    background-color: #706e6e;
}


/* End Events   */
/* ********************************************************** */
/* Start Pricing */
.pricing {
 
   background-color: #cccccc;
    position: relative;
    padding-top: 25px;
}
.pricing .header-price{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 35px;
  
    margin-top: 25px;
    font-size: 35px;
}
.pricing .container{
  padding-top: 50px;

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 30px;
    margin-top: 15px;

}

.pricing .box {
position: relative;
box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%),0 2px 4px 0 rgb(0 0 0 / 12%);
transition: var(--main-transtion-duration);
background-color: white;
text-align: center;
border-radius: 10px;
z-index: 1;
}

.pricing .box::after
 {
    
    content: "";
    width: 0;
    height: 100%;
    background-color: #c7c3c3;
    position: absolute;
    z-index: -1;
    transition: var(--main-transtion-duration);

}

.pricing .box::after{
right: 0;
bottom: 0;
}

/* .pricing .box::before{
    left: 0;
    top: 0;

} */

.pricing .box:hover::before , .pricing .box:hover::after{
    width: 100%;
}


@media (min-width: 990px) {
    .pricing .box.popular{
        top:-20px;
    }
}


.pricing .box.popular .label{
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 15px;
    top: 0  ;
    width: 40px;
}

.pricing .box.popular .label::before{
    content: "";
    position: absolute;
    bottom: 0;
    right:  0;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 20px;

}


.pricing .box .title{
    font-weight: bold;
    margin: 25px 0;
    font-size: 25px;
    letter-spacing: -1px;



}

.pricing .box img{
    width: 75%;
    margin-bottom: 5px;

}

.pricing .box .price{
    
    margin-bottom: 5px;


}
.pricing .box .price .amount{
    display: block;
    font-size: 30px;
    font-weight: bold;
 
    color: var(--main-color);

}
 .pricing .box ul{
 text-align: left;
 }

 .pricing .box ul li{
    padding: 5px;
    border-top: 1px solid #eee;
    
 }

 .pricing .box ul li::before{
   
    font-family: "Font Awesome 6.4.0 Free" ;
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);

 }

 .pricing .box a{
    display: block;
    width: fit-content;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    margin: 30px auto 40px;
    padding: 15px 20px;
    border-radius: 7px;
    font-weight: bold;
    transition: var(--main-transtion-duration);

 }
.pricing .box a:hover{
    background-color: var(--main-color);
    color: white;
    border-color: white;

    
 }

/* End Pricing   */
/* ********************************************************** */
/* Start Videos */
.videos{
    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);
    position: relative;
}



.videos .holder{
    display: flex;
    display: flex;
    justify-content: center;
    background-color: var(--background-section);
    border: 1px solid #ddd;


}

@media (max-width: 990px){
    .videos .holder{
        flex-direction: column;

    }
}

.videos .holder .list{
    min-width: 300px;
    background-color: white;


}
.videos .holder .list .name{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ddd;
    font-weight: bold;

}
/* .videos .holder .list ul{
   

    
} */

.videos .holder .list ul li{
    padding: 15px;
    border-top: 1.5px solid var(--background-section);
    cursor: pointer;
    transition: var(--main-transtion-duration);
}

.videos .holder .list ul li:hover{
    background-color: #fafafa;
    color: var(--main-color);
}

.videos .holder .list ul li span{
    display: block;
    color: #777;
    margin-top: 10px;
    
}

.videos .perview{
background-color: #E2E2E2;
padding: 10px;
display:flex;
flex-direction: column;
justify-content: space-between;

}
.videos .perview img{
    max-width: 100%;
}

.videos .perview .info{
    padding: 20px;
    background-color: white;
    margin-top: 10px;


}

/* End Videos */
/* ********************************************************** */
/* Start stats */
.stats{
    padding-top: var(--main-paading-top);
    padding-bottom: var(--main-paading-bottom);
    position: relative;
    background-image: url(../image/stats.jpg);
    background-size: cover;
    min-height: 300px;
}
.stats::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e9e4e4;
    opacity: 0.4;

    
}

.stats h2{
    font-weight: bold;
    font-size: 40px;
    width: fit-content;
    margin:0 auto 50px;
    position: relative;
}

.stats .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 30px;
}

.stats .box{
    position: relative;

    background-color: white;
    padding: 30px 15px;
    text-align: center;
    transition: var(--main-transtion-duration);
    opacity: 0.8;

}

.stats .box:hover{
    opacity: 1;
}

.stats .box::before, 
.stats .box::after{
    content: "";
    position: absolute;
    width: 5px;
    background-color:var(--main-color);
    height: 0;
    transition: 1s;


}
.stats .box::before{
    top: 0;
    right: 0;
}
.stats .box::after{
    left: 0;
    bottom: 0;
}
.stats .box:hover::before, 
.stats .box:hover::after{
    height: 100%;
}

.stats .box .number{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats .box .text{
    font-style: italic;
    font-weight: bold;
    color: var(--main-color);


}

/* End stats */




/* ********************************************************** */

/* Start discount */
.discount{
min-height: 100vh;
display: flex;
flex-wrap: wrap;


}
.discount .img{
    background-image: url(../image/discount-background1.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    animation: change-background 6s linear infinite;



}

@media (max-width:990px){
    .discount .img {
        flex-basis: 100%;
    }
}

.discount .img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:var(--main-color);
    z-index: -1;
    opacity: 0.8;

}



.discount .img .img_2{
    width: 300px;
    max-width: 100%;
    height: 300px;
    margin-top: 20px;

}
.discount .content{
    text-align: center;
    padding: 0 20px;
}

.discount .content h2{
    margin-top: 20px;
    font-size: 40px;

}

.discount .content p{
  
    max-width: 500px;
    font-size: 18px;

}



.discount .form {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
}
@media (max-width:990px){
    .discount .form {
        flex-basis: 100%;
    }
}
.discount .form .input{
display: block;
width: 100%;
margin: 20px;
padding: 20px;
border: none;
border-bottom: 1px solid black;
background-color: #f9f9f9;
caret-color: var(--main-color);

}

.discount .form textarea.input {
    resize: none;
    height: 200px;
}



.discount .form .submit{
display: block;
width: 100%;
padding: 20px;
background-color: var(--main-color);
color: white;
font-weight: bold;
font-size: 18px;
border: none;
margin: 20px;
transition: var(--main-transtion-duration);

}

.discount .form .submit:hover{
cursor: pointer;
}





/* End discount */
/* ********************************************************** */
/* Start Footer */
.footer{
    background-color: #191919;
    padding: 70px 0 0;


}
.footer .container{
display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 30px;
}

.footer  .box h3{
    color: var(--main-color);
    font-size: 50px;
    margin: 0 0 20px;
    font-weight: bold;


}

.footer  .box .social{
    display: flex;
   

}

.footer  .box .social li{
    margin-right:10px;
}

.footer  .box .social li a{
background-color: #313131;
color: white;
display: inline-flex;
justify-content: center;
align-items: center;
width: 50px;
height: 50px;
font-size: 20px;
transition: var(--main-transtion-duration);


}

.footer  .box .social li a.facbook:hover{
    background-color: #1877f2;
   
}
.footer  .box .social li a.twitter:hover{
 
    background-color: #14171a;
}
.footer  .box .social li a.linkedin:hover{
     background-color: #0a66c2;
}

.footer  .box .text{
    line-height: 2;
    color: white;
}

.footer  .box .links li {
padding: 15px 0;
transition: var(--main-transtion-duration);

}

.footer  .box .links li:not(:last-child) {

border-bottom: 1px solid #444;
}
.footer  .box .links li:hover{
padding-left: 10px;
}

.footer  .box .links li:hover a{
    color: white;
    
}

.footer  .box .links li a{
    color: #b9b9b9;
    transition: var(--main-transtion-duration);
}

.footer  .box .links li a::before{
    font-family: "Font Awesome 5 Free";
    content: \F101;
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);

}

.footer  .box .line{
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

.footer  .box .line i{
    font-size: 25px;
    color: var(--main-color);
    margin: 10px;
}

.footer  .box .line .info{
    flex: 1;

}

.footer  .box .line .info span{
 display: block;

}



.footer .footer-gallary .map {
width: 300px;
height: 300px;
border: 3px solid white;
margin: 2px;
}

.footer .copyright{
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0 ;
    border-top: 2px solid #444;
}
/* End Footer   */

/* ********************************************************** */
/* Start Aanimation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }

}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-5px);
    }
}

@keyframes left-animation {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;


    }

}


@keyframes right-animation {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;


    }

}

@keyframes moving-arrow {
    100% {
        transform: translateX(15px);
    }

}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }

}

@keyframes change-background{
    0%, 100%{
        background-image: url(../image/discount-background1.jpg);
    }
    50%{
        background-image: url(../image/discount-background2.jpg);
    }
}

@keyframes change-background2{
    0%, 100%{
        background-image: url(../image/jawwali_new_size_01slider_final_1.jpg);
    }
    50%{
        background-image: url(../image/jawwali_new_size_01slider_final02.jpg);
    }
    
}

/* End Aanimation */